module.exports = {
projectStartDate: 'Nov 10, 2015',
gitlab_projectFullName: 'hungcao/githubintegration', //replace by you namespace and project name
gitlab_private_token :  '', //find the key under your profile account https://gitlab.com/profile/account 
pivotaltracker_projectID: '1482424', //replace by your project id
pivotaltracker_APItoken: '' //find the API token under your profile https://www.pivotaltracker.com/profile
};
